<!-- Временная страница приветствия авторизированного пользователя -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Greeting!</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type"/>
</head>
<body>
<div>
    Hello, {{name}}! <br/>
    <a href="/home">Go to /home</a>
</div>
</body>
</html>